<body>
    

   <div class="banner col-1">
    <h2 id="text">Explore</h2>
    <div class="clouds">
        <img src="../../assets/clouds/cloud1.png" style="--i:1;">
        <img src="../../assets/clouds/cloud2.png" style="--i:2;">
        <img src="../../assets/clouds/cloud3.png" style="--i:3;">
        <img src="../../assets/clouds/cloud4.png" style="--i:4;">
        <img src="../../assets/clouds/cloud5.png" style="--i:5;">
        <img src="../../assets/clouds/cloud1.png" style="--i:10;">
        <img src="../../assets/clouds/cloud2.png" style="--i:9;">
        <img src="../../assets/clouds/cloud3.png" style="--i:8;">
        <img src="../../assets/clouds/cloud4.png" style="--i:7;">
        <img src="../../assets/clouds/cloud5.png" style="--i:6;">  
    </div>
  </div>
   
   <section>
    <h2>Ready for Dream Destination</h2>
    <main>
      <div class="destination">
        <img src="../../assets/Get Away Guru/japan/j10.jpg">
        <div class="destination-details">
          <h3>Japan </h3>  
          <p>Culture Heritage</p>         
        </div>
      </div>
      <div class="destination">
          <img src="../../assets/Get Away Guru/italy/italy.jpg">
          <div class="destination-details">
              <h3>Italy</h3>            
            <p>To celebrate love</p>
          </div>
        </div>
        <div class="destination">
          <img src="../../assets/Get Away Guru/bali/af1.jpg">
          <div class="destination-details">
              <h3>Bali</h3>
           <p>Beaches for life</p>
          </div>
        </div>
    </main>

    <section>
      <div class="about" onclick="openItemPage('/menuitems/doughnuts.html')">
        <img src="../../assets/ab.jpg">
        <div class="about-text">
            <h3>About Us</h3><br><br>
            <p style="color:#278d72 ; font-size: larger;"><b>Getaway Guru:</b></p>
            <p style="font-size: 22px;  color: #4a5568;">
              Where Adventure Meets Affordability, and Luxury Becomes a <strong>Lifestyle!"</strong></p>
        </div>
        <img src="../../assets/ab1.jpg">
    </div>
    </section>
   </section>   

   <footer>
    <img src="../../assets/adventure.png" alt="">
    <p>Embark on a journey with Get Away GURU and let us transform your
      travel dreams into cherished memories.</p>

</footer>

</body>